## Filtering the rows using the `.query` method

In this section, we will introduce another row filtering approach using the `.query()` method.

In [8]:
# import pandas
import pandas as pd
# load the gapminder dataset
gapminder = pd.read_csv('data/gapminder.csv')
# take a look at the head of gapminder
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

As a reminder, so far we have learned how to use the square-bracket based indexing approaches to filtering the rows, for example, the following two pieces of code both filter the rows to just those where the `country` column is equal to "Australia":

In [9]:
# filter to Australia using a logical condition inside `gapminder[]`
gapminder[gapminder['country'] == 'Australia']

      country continent  year  lifeExp       pop    gdpPercap
60  Australia   Oceania  1952   69.120   8691212  10039.59564
61  Australia   Oceania  1957   70.330   9712569  10949.64959
62  Australia   Oceania  1962   70.930  10794968  12217.22686
63  Australia   Oceania  1967   71.100  11872264  14526.12465
64  Australia   Oceania  1972   71.930  13177000  16788.62948
65  Australia   Oceania  1977   73.490  14074100  18334.19751
66  Australia   Oceania  1982   74.740  15184200  19477.00928
67  Australia   Oceania  1987   76.320  16257249  21888.88903
68  Australia   Oceania  1992   77.560  17481977  23424.76683
69  Australia   Oceania  1997   78.830  18565243  26997.93657
70  Australia   Oceania  2002   80.370  19546792  30687.75473
71  Australia   Oceania  2007   81.235  20434176  34435.36744

In [10]:
# filter to Australia using a logical condition inside `gapminder.loc[,]`
gapminder.loc[gapminder['country'] == 'Australia',:]

      country continent  year  lifeExp       pop    gdpPercap
60  Australia   Oceania  1952   69.120   8691212  10039.59564
61  Australia   Oceania  1957   70.330   9712569  10949.64959
62  Australia   Oceania  1962   70.930  10794968  12217.22686
63  Australia   Oceania  1967   71.100  11872264  14526.12465
64  Australia   Oceania  1972   71.930  13177000  16788.62948
65  Australia   Oceania  1977   73.490  14074100  18334.19751
66  Australia   Oceania  1982   74.740  15184200  19477.00928
67  Australia   Oceania  1987   76.320  16257249  21888.88903
68  Australia   Oceania  1992   77.560  17481977  23424.76683
69  Australia   Oceania  1997   78.830  18565243  26997.93657
70  Australia   Oceania  2002   80.370  19546792  30687.75473
71  Australia   Oceania  2007   81.235  20434176  34435.36744

### Filtering using `.query()`

The `.query()` method does the same thing, but the syntax is a bit different. Since `query` is a method, it is followed by round parentheses `()` rather than square parentheses `[]`, and unlike in the above examples where we need to explicitly create a boolean Series object from the `country` column, e.g., `gapminder['country'] == "Australia"`, we instead provide a string (text) argument in which we just write the name of the column that we are using to filter, `country`, followed by the condiiton `== "Australia"`.

In [11]:
# filter to Australia using a logical string expression inside query
gapminder.query('country == "Australia"')

      country continent  year  lifeExp       pop    gdpPercap
60  Australia   Oceania  1952   69.120   8691212  10039.59564
61  Australia   Oceania  1957   70.330   9712569  10949.64959
62  Australia   Oceania  1962   70.930  10794968  12217.22686
63  Australia   Oceania  1967   71.100  11872264  14526.12465
64  Australia   Oceania  1972   71.930  13177000  16788.62948
65  Australia   Oceania  1977   73.490  14074100  18334.19751
66  Australia   Oceania  1982   74.740  15184200  19477.00928
67  Australia   Oceania  1987   76.320  16257249  21888.88903
68  Australia   Oceania  1992   77.560  17481977  23424.76683
69  Australia   Oceania  1997   78.830  18565243  26997.93657
70  Australia   Oceania  2002   80.370  19546792  30687.75473
71  Australia   Oceania  2007   81.235  20434176  34435.36744

### External variables in the `.query()` method

Note that if you want to use an "external" variable in your filtering query, you need to access it within the argument using `@variable_name`. For example, if we have defined an external variable, `selected_country` that contains the name of the country that we want to use to filter to in our query, to access this `selected_country` variable inside our query argument, we need to write `@selected_country` with the `@` symbol, which will impute the value stored in `selected_country` when the query is executed.

In [12]:
# define a variable, selected_country, and assign it the string 'Brazil'
selected_country = 'Brazil'
# use query with @ to filter gapminder to selected_country
gapminder.query('country == @selected_country')

    country continent  year  lifeExp        pop    gdpPercap
168  Brazil  Americas  1952   50.917   56602560  2108.944355
169  Brazil  Americas  1957   53.285   65551171  2487.365989
170  Brazil  Americas  1962   55.665   76039390  3336.585802
171  Brazil  Americas  1967   57.632   88049823  3429.864357
172  Brazil  Americas  1972   59.504  100840058  4985.711467
173  Brazil  Americas  1977   61.489  114313951  6660.118654
174  Brazil  Americas  1982   63.336  128962939  7030.835878
175  Brazil  Americas  1987   65.205  142938076  7807.095818
176  Brazil  Americas  1992   67.057  155975974  6950.283021
177  Brazil  Americas  1997   69.388  168546719  7957.980824
178  Brazil  Americas  2002   71.006  179914212  8131.212843
179  Brazil  Americas  2007   72.390  190010647  9065.800825

### Combining `.query()` with `.loc`

Note that since `gapminder.query()` outputs a DataFrame itself, you can follow a query method call with further subsetting which will then apply to the outputted DataFrame. The code below filters to just the country rows equal to "Brazil", and then uses the `.loc` indexer to subset just the "year" and "lifeExp" columns for the eventual output:

In [13]:
# Use .query() to filter to the selected country and then use df.loc[,] to select the year and lifeExp columns
gapminder.query('country == @selected_country').loc[:,['year', 'lifeExp']]

     year  lifeExp
168  1952   50.917
169  1957   53.285
170  1962   55.665
171  1967   57.632
172  1972   59.504
173  1977   61.489
174  1982   63.336
175  1987   65.205
176  1992   67.057
177  1997   69.388
178  2002   71.006
179  2007   72.390

Note, however, that you cannot reverse the order of the `.loc` indexer and the `query()` method in this case. The `.loc` indexer below creates a DataFrame containing just the "year" and "lifeExp" columns (i.e., the "country" column has been dropped), so the `query()` method cannot find the "country" column to filter on:

In [14]:
# Try to use .loc[,] to select the year and lifeExp columns and then use .query() to filter to the selected country
gapminder.loc[:,['year', 'lifeExp']].query('country == @selected_country')

UndefinedVariableError: name 'country' is not defined

### Exercise

Use the query method to filter to the gapminder data to the year 2007, and return just the `country` and `lifeExp` columns.

Then do the same thing using only the `.loc` indexer.

In [15]:
# use `query()` to filter to just the year 2007, and then use the `[]` or `.loc[,]` indexing to extract just the "country" and "lifeExp" columns:
gapminder.query('year == 2007')[['country', 'lifeExp']]
gapminder.query('year == 2007').loc[:,['country', 'lifeExp']] # alt

                 country  lifeExp
11           Afghanistan   43.828
23               Albania   76.423
35               Algeria   72.301
47                Angola   42.731
59             Argentina   75.320
...                  ...      ...
1655             Vietnam   74.249
1667  West Bank and Gaza   73.422
1679         Yemen, Rep.   62.698
1691              Zambia   42.384
1703            Zimbabwe   43.487

[142 rows x 2 columns]

In [16]:
# use just the `.loc` indexer to both filter the rows and subset the columns:
gapminder.loc[gapminder['year'] == 2007, ['country', 'lifeExp']]

                 country  lifeExp
11           Afghanistan   43.828
23               Albania   76.423
35               Algeria   72.301
47                Angola   42.731
59             Argentina   75.320
...                  ...      ...
1655             Vietnam   74.249
1667  West Bank and Gaza   73.422
1679         Yemen, Rep.   62.698
1691              Zambia   42.384
1703            Zimbabwe   43.487

[142 rows x 2 columns]